.react-quill{
    /* outline: 2px  solid rgba(72, 74, 77, 0.434); */
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    
       
    }

    .react-quill>.ql-container{
        border-radius: 10px;
    }
    .react-quill>.ql-container>.ql-editor{
        min-height: 20rem;
        /* background: white; */
        border-radius: 10px;
        font-size: 1rem;
        color: #949eb6;
        
    
    }
    